__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
*.egg-info/
.eggs/

venv/
venv*/
.venv/
ENV/
env/
env.bak/
pip-wheel-metadata/

.env
.env.*
.envrc
instance/
*.sqlite3
*.db

.pytest_cache/
.coverage
htmlcov/
coverage.xml

.mypy_cache/
.pytype/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
